<!-- This file will display the details of a single listing.
It will display the title, description, price, location, and 
country of the listing. The data is passed to the view from the 
controller using the listing object. The listing object is an instance of the
Listing model, which contains the data. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust listing</title>
</head>
<body>
    <h3>Listing Details :</h3>
    <ul>
        <li>Title: <%=listing.title%></li>
        <li>Title: <%=listing.description%></li>
        <li>Price: <%=listing.price%></li>
        <li>Location: <%=listing.location%></li>
        <li>Rating: <%=listing.country%></li>
    </ul>
</body>
</html>